h1{
    text-align: center;
    color: aliceblue;
}
body{
    color: aliceblue;
    top:0;
    left:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #1b274e;
}
.formMain{
    color: rgb(240, 239, 237);
    background-color:#1b274e;
    width: 600px;
    margin: 0 auto;
    padding : 30px;
}

button{
    font-size: large;
    font-weight: bolder;
    margin: 20px 0;
    width: 250px;
}
input{
    width: 100%;
    border-radius: 5px;
}
.formContent{
    margin-bottom: 15px;
}

.formContent input{
    height: 25px;
    margin-top: 5px;
}
/* Check sur civilite */
.formCheck {
    margin-bottom: 20px;
}
.form-check-inline{
    display: inline-flex; 
    align-items: center; 
    margin-right: 10px;
}
.form-check-inline input {
    margin : 0 5px;
}